<div class="jumbotron">
	<div "center">
	<h1>HFC Meeting Rooms</h1>
	<p>Check room occupancies here.</p>	
	<%= link_to "Log In", "#", class: "btn btn-primary btn-lg" %>
	<%= link_to "Sign Up", "#", class: "btn btn-default btn-lg" %>
</div>
</div>